/* 
Для решения проблемы кроссбраузерности и соответствия макету обнуляем все стили
*/

/* 1) очищаем все отступы и границы */
* {
    /* звёздочка означает что мы обращаемся ко всем тегам на странице */
    padding: 0;
    margin: 0;
    border: 0;
}

/* 2) меняет подсчёт ширины блока так, чтобы нам было удобнее верстать*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 3) убираем линии обводки у некоторых браузеров */
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

/* 4) перечисляем некоторые html5 теги и добавляем им значение block - это делает их блочными*/
nav,
footer,
header,
aside {
    display: block;
}

/* 5) применим к тегам html и body параметры которые уравнивают поведение шрифтов и элементов для разных браузеров, в т.ч. запрещают самовольное увеличение шрифта(на айфонах например)*/
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* 6) применяем к тегам форм наследуемый шрифт (по умолчанию они не наследуют семейство шрифта) */
input,
button,
textarea {
    font-family: inherit;
}

/* 7) добавляем несколько параметров некоторым тегам, которые убирают некоторые особенности в разных браузерах */
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a,
hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

/* 8) обнуляем все наши заголовки h*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/* 
селектор класса 
.block{
    
}
*/

/* 
селектор типа 
div{
    
}
*/

/* 
селектор типа и класса - имеет более приоритетное значение
div.block{

}
*/

/* 
свойство и значение
.block{
    font-size: 20px;
}

font-size - свойство
20px - значение
font-size: 20px; - параметр
*/

/*
обращаться можно к сразу нескольким селекторам - указав их через запятую
.block1, .block2{
    
}
*/

/* ВСЕ свойства шрифта и текста наследуются - поэтому самый часто используемый в дизайне шрифт прописывается сразу для тега body 
- т.е. семейство шрифта распространиться на все теги страницы, 
но для некоторых всё же необходимо дополнительно указать параметр inherit т.к. они не наследуют это свойство */

/* Свойства шрифтов*/

/* 1 свойство - font-family - устанавливает семейство шрифта, которое будет использоваться для оформления текста содержимого
- по умолчанию используется семейство Times New Roman - мы его и увидим в результате добавив любой текст в html страницу*/

/* изменим семейство шрифта на  */
.arial {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* сокр ffa */
}

/* 2 свойство - font-size - устанавливает размер шрифта
- по умолчанию имеет размер 14px - это указано как параметр тегов html и body в нашем обнуляющем стиле*/

/* изменим размер шрифта */
.fontsize30 {
    font-size: 30px; /* сокр fz30 */
}

/* 3 свойство - font-style - определяет начертание шрифта - обычное, курсивное, наклонное */
/* изменим начертание шрифта */
.italic {
    font-style: italic; /* сокр fsi */
}

/* 4 свойство font-weight - устанавливает насыщенность шрифта */
/* изменим насыщенность шрифта */
.font700 {
    font-weight: 700; /* сокр fw700  */
}

/* Свойства оформления текста */

/* 1 свойство - color - цвет */
/* изменим цвет текста */
.colorred {
    /* чаще всего используется шестнадцатиричное число */
    color: #f00#f00;
    color: red;
    color: rgb(255, 0, 0);
}

/* 2 свойство - text-align - определяет горизонтальное выравнивание текста */
/* изменим горизонтальное выравнивание текста */
.textright {
    text-align: right; /* сокр tar */
}
/* еще значения center/justify/left */

/* 3 свойство - text-decoration - добавляет оформление текста */
/* в большинстве случаев это свойство добавляет оформление текста в виде его - подчёркивания / перечёркивания / и линии над текстом */
/* одновременно можно применить более одного стиля перечисляя значение через пробел */
/* изменим оформление текста */
.decoration {
    text-decoration: underline; /* сокр tdu подчеркнутый*/
    text-decoration: overline; /* сокр tdo черта над текстом*/
    text-decoration: none; /* сокр tdn уберёт любой эффект*/
    text-decoration: line-through; /* сокр tdl перечёркнутый*/
}

/* 4 свойство - text-shadow - добавляет тень к тексту */
.shadow {
    text-shadow: 1px 1px 50px #000000; /* смещение по горизонтали / смещение по вертикали / размер размытия / цвет */
    text-shadow: 1px 1px 10px #000000;
    text-shadow: 1px 1px 1px #000000;
}

/* 5 свойство - text-transform - преобразование текста в заглавные или прописные символы */
.uppercase {
    text-transform: capitalize; /* сокр ttc */
    text-transform: lowercase; /* сокр ttl */
    text-transform: none; /* сокр ttn */
    text-transform: uppercase; /* сокр ttu */
}

/* 6 свойство - indent - устанавливает величину отступа первой строки блока текста*/
.indent {
    text-indent: 50px; /* сокр ti50 */
}

/* 7 свойство - letter-spacing - определяет интервал между символами */
.lspace {
    letter-spacing: 5px; /* сокр ls5 */
}

/* 8 свойство - word-spacing - определяем интервал между словами  */
.wspace {
    word-spacing: 5px; /* сокр ws5 */
}

/* 9 свойство - white-space - управляет свойствами пробелов между словами */
/* nowrap - отменяет перенос строки и у браузера даже появляется прокрутка */
.whitespace {
    white-space: nowrap;
    white-space: normal;
}

/* 10 свойство - line-height - устанавливает межстрочный интервал  текста */
.lineheight {
    line-height: 20px;
}
