@charset "UTF-8";
/* Обнуление */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a,
hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------*/
/*

Вся компьютерная графика делится на 2 большиче части:
- растровая (пиксельная) графика - чем больше пикселей тем качество выше, соответственно больше и вес
- векторная графика - строит изображение с помощью элементов (фигур), рассчитанных с помощью конкретных математических формул, сложные изображения можно разделить на ряд более простых фигур, каждая из простых фигур состоит из контура и заливки

Растровое изображение - это  фотография
Векторное изображение - это схематический рисунок

Основное преимущество векторного изображения втом, что при увеличении его масштаби или при открытии на дисплее с повышенной плотностью пикселей (Ретина дисплей) - качество никак не страдает.
В то же время очень сложные изображение в векторном формате может весить намного больше чем его растровый аналог

Поэтому нам важно, чтоб изображение было качественное, но при этом весило намного меньше

Виды графики, которые используем в web-приложении:
1) Иконки - векторный формат
2) Фоновые изображения и различные элементы дизайна - растровый формат
3) Изображение контента - растровый формат

Форматы графических файлов:
1) JPEG/JPG - растровый формат - поддаётся оптимизации - подходит для контентных изображения
2) PNG - растровый формат - имеет супер способность - отдельные части могут быть прозрачными - плохо оптимизируется, поэтому не очень подходит для контентных изображений, но как раз подходит для фоновых изображений и различных элементов дизайна
3) GIF - растровый формат - имеет супер способность - анимация - позволяет хранить сжатые данные без потери качества, но до 256 цветов - это маленькие видеоролики в формате изображения

4) SVG - векторный формат - идеально подходит для иконок - хорошо смотрится при масштабировании и на ретина дисплеях, а из-за простоты весит совсем немного

5) WebP -  приходит на смену всех растровых форматов:
- прозрачность
- анимация
- минимальный вес
Поддерживается не во всех браузерах

6) ICO  - поддерживает прозрачность и используется для указания графической иконки сайта во вкладке браузера, а также для отображения иконки в веб-приложении

подключение иконки к сайту

<link rel="shortcut icon" href="favicon.ico">







*/