/* 
Для решения проблемы кроссбраузерности и соответствия макету необходимо все стили обнулить
*/

/* 1) очищаем все отступы и границы */
* {
    /* звёздочка означает что мы обращаемся ко всем тегам на странице */
    padding: 0;
    margin: 0;
    border: 0;
}

/* 2) меняет подсчёт ширины блока так, чтобы нам было удобнее верстать*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 3) убираем линии обводки у некоторых браузеров */
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

/* 4) перечисляем некоторые html5 теги и добавляем им значение block - это делает их блочными*/
nav,
footer,
header,
aside {
    display: block;
}

/* 5) применим к тегам html и body параметры которые уравнивают поведение шрифтов и элементов для разных браузеров, в т.ч. запрещают самовольное увеличение шрифта(на айфонах например)*/
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* 6) применяем к тегам форм наследуемый шрифт (по умолчанию они не наследуют семейство шрифта) */
input,
button,
textarea {
    font-family: inherit;
}

/* 7) добавляем несколько параметров некоторым тегам, которые убирают некоторые особенности в разных браузерах */
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a,
hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

/* 8) обнуляем все наши заголовки h*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}
