.bigred {
    font-size: 20px;
    color: red;
}

/* запись с тегом и класом span.bigred приоритетнее чем .bigred - даже если стоит выше */
/*
span.bigred {
    font-size: 30px;
    color: green;
}
*/


/* вложенность */
.bigred span{
    color: green;
}

/* обработка первого уровня вложенности */
.block>p{  /* действиет только на первые p в div*/ 
    color: blue

}


.block{
    border: 1px solid #000; /* граница примениться только к родительскому элементу, т.е. тому классу которому мы и описываем этот параметр*/
}