/* 
Для решения проблемы кроссбраузерности и соответствия макету обнуляем все стили
*/

/* 1) очищаем все отступы и границы */
* {
    /* звёздочка означает что мы обращаемся ко всем тегам на странице */
    padding: 0;
    margin: 0;
    border: 0;
}

/* 2) меняет подсчёт ширины блока так, чтобы нам было удобнее верстать*/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 3) убираем линии обводки у некоторых браузеров */
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

/* 4) перечисляем некоторые html5 теги и добавляем им значение block - это делает их блочными*/
nav,
footer,
header,
aside {
    display: block;
}

/* 5) применим к тегам html и body параметры которые уравнивают поведение шрифтов и элементов для разных браузеров, в т.ч. запрещают самовольное увеличение шрифта(на айфонах например)*/
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* 6) применяем к тегам форм наследуемый шрифт (по умолчанию они не наследуют семейство шрифта) */
input,
button,
textarea {
    font-family: inherit;
}

/* 7) добавляем несколько параметров некоторым тегам, которые убирают некоторые особенности в разных браузерах */
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a,
hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

/* 8) обнуляем все наши заголовки h*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/* 1 свойство - border - граница */
/* граница border влияет на содержимое блока - текст смещается внутрь на толщину границы */
/* границу border можно применять для одной или нескольких сторон */

/* 2 свойство - border-radius - устанавливает радиус скругления уголков блока  */

/* 3 свойство - outline - внешняя граница блока - устанавливает линию вокру всего блока - устанавливается не внутри блока а снаружи - за границей блока */
/* данное свойство нельзя указать для одной стороны - можно указать только сразу для всех 4 сторон */
/* на данное свойство не действует border-radius */

/* 4 свойство - box-shadow - добавляет тень к элементу */
/* border-radius работает и для тени*/ 
/* можно выставлять несколько теней через запятую */

/* 5 совйство - opacity - определяет уровень прозрачности элемента */
/* блок никуда не исчезает, просто становиться прозрачным и занимает место - это отличает это свойство от display: none*/
/* если в блоке есть ссылка на неё можно также нажать - даже если она полностью прозрачна */
/* в отличие от display: none - opacity можно анимировать */

/* 6 свойство - visibility - предназначен для отображения или скрытия блока*/
/* при hidden - в отчилие от display: none его место никуда не пропадёт, в отличие от opacity - мы не можем дальше взаимодействовать с блоком(например - ссылка не нажимается */
/* visibility обычно анимируется со свойством opacity */



.example-block {
    /*border: 10px dashed #000;*/  /* 1px - толщина границы, solid/dotted/dashed - стиль границы, #000 - цвет границы */
    /*border-top: 10px dotted red; */   /* устанавливаем границу только сверху */

    /*border: 10px dashed #000;
    border-left: 0;*/   /* если хотим убрать границу например с одной стороны - сначала делаем всю границу а потом ставим border-left: 0;  (либо border-left: none;)*/

    /*border: 10px solid #000;
    /*border-radius: 30px 30px 30px 30px;  /* его значения устанавливаются как значения внутреннего или внешнего отступа (padding или margin) - т.е. сверху, справа, снизу, слева  */
    /*border-radius: 30px 0px 30px 0px;   /* если надо скруглить края только слева вверху и справа внизу */

    /*outline: 10px solid #000; */

    /*box-shadow: 5px  5px 10px 5px #000;*/   /* 1-е значение - сдвиг по горизонтали, 2-е значение - сдвиг по вертикали, 3-е значение - радиус тени, 4-е значение - расстояние тени, 5-e код цвета   */

    /*box-shadow: 5px  5px 10px 5px #000, inset 5px  5px 10px 5px #000; /* inset - выставляет тень внутрь блока */

    /*border-radius: 30px;*/


    /*opacity: 0.2;             /* устанавливаем значение от 0 до 1 - полная прозрачность */

    /*visibility: hidden;     /* visible - всё будет отображаться (значение по умолчанию), hidden - блок исчезает*/

    padding: 15px;
    font-size: 50px;
    margin: 30px;
}

.example-string {
    /*border: 10px dashed #000; - к строчному тегу не применяется*/

    font-size: 50px;
}

.example-image {
    border: 10px dashed #000;  /* для картинки всё работает хорошо   */
}
